<div class="container">
    <h1>Create Team</h1>
    <p>Please be aware that all information entered is Caps sensative.</p>
    <div class="row well">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="tname">Team Name</label>
                    <input type="text" class="form-control" id="tname" placeholder="The Kings of not sucking">
                </div>
                <div class="form-group">
                    <label for="desc">Team Description</label>
                    <input type="text" class='form-control' id='desc' placeholder="We try really hard to live up to our name">
                </div>
            </form>
        </div>
    </div>
    <div class="row">

    </div>
</div>
