<div class="container">
    <div class="row">
        <h1>Team Description</h1>
        <div class="col-xs-12 well">
            <div class="form-group">
                <label for="desc">Team Description</label>
                <textarea type="text" class='form-control' id='desc' placeholder="We try really hard to live up to our name" ng-model='desc'></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>what games will you be playing now?</h1>
            <div ng-repeat='game in games track by $index' class="col-xs-3 col-md-2 well">
                <input type="checkbox" id='{{game.name}}' value="">
                <label for="{{game.name}}">
                <div>
                    <h3 class="center-text">{{game.name}}</h3>
                    <img class='img-responsive' ng-src="{{game.image}}" alt="">
                </div>
            </label>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>What do you want your logo to be?</h1>
        <div class="col-xs-12 well">
            <p>upload an image form the internet <span class='text-muted'>(I won't tell)</span></p>
            <div class="form-group">
                <label for="image url">Image Url</label>
                <input type="text" class='form-control' name="image url" value="" ng-model='photo'>
            </div>
            <p>or you can upload an image from your computer</p>
            <div class="form-group">
                <label for="upload">Upload Image</label>
                <input type="file" accept='image/*' id='teamimage' name="" value="">
                <a class="btn btn-primay" ng-click="upload('teamimage')">upload</a>
                </br>
                <img src="" class='img-responsive' id='preview' width='200px' alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Privacy settings</h1>
            <div class=" well">
                <select class="" ng-model='priv' ng-options='option.label for option in options' name=""></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <button type="button" class='btn btn-success btn-block' name="button" ng-click='edit_team(desc,photo,priv,team)'>submit</button>
        </div>
    </div>
</div>
