<div id="prof" style="display:none">{{profile}}</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 well ">
            <div class="row">
                <div class="col-xs-3 img-rounded bg-white">
                    <img ng-src="{{profile.image_url}}" ng-show='profile.image_url' class='img-responsive' style='max-height:200px;margin:auto' alt="">
                    <img src="default-user-image.png" class='img-responsive max-heigt' ng-hide='profile.image_url' alt="">
                </div>
                <div class="col-xs-6">
                    <h3>{{profile.username}}</h3>
                    <h5 class="text-muted">{{profile.description}}</h5>
                </div>
                <div class="col-xs-3">
                    <div class="row">
                        <div class="col-xs-12" ng-show='user.id == profile.id'>
                            <a ui-sref='createTeam' class='btn btn-success btn-block' name="button">Create Team</a>
                            <br>
                        </div>
                        <div class="col-xs-12" ng-show='user.id == profile.id'>
                            <a ui-sref='edit_profile' class='btn btn-info btn-block' name="button">Edit Profile</a>
                            <br>
                        </div>
                        <!-- <div class="col-xs-12" ng-show='user.id !== profile.id && user'>
                            <a ui-sref='edit_profile' class='btn btn-warning btn-block' name="button">add Friend</a>
                        </div> -->
                        <div class="col-xs-12" ng-show='user.id !== profile.id'>
                            <a  class='btn btn-warning btn-block' data-toggle='dropdown' data>Inite to Team <span class='caret'></span></a>
                            <ul class="dropdown-menu">
                                <div ng-repeat='team in user.teams'>
                                    <div ng-hide='profile.teamName.includes(team.team_name)'>
                                        <li style="text-align:center" class='btn btn-block btn-default' ng-show='team.privacy==0||team.privacy===1 && user.teamNames.includes(team.team_name)|| team.privacy===2 && team.team_admin === user.id'>{{team.team_name}}</li>
                                    </div>
                                </div>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="well col-sm-3 col-xs-10">
            <div class="row" ng-hide='profile.id===user.id || !user'>
                <!-- NOTE: set like and dislike up -->
                <div class="col-sm-6 col-xs-12">
                    <button class='btn btn-success btn-block col-sm-6' ng-click='addLike(profile.id,user.id)' ng-disabled='profile.likesId.includes(user.id)'>like</button>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <button class="btn btn-danger btn-block col-sm-6" ng-click='addDislike(profile.id,user.id)' ng-disabled='profile.dislikesId.includes(user.id)'>dislike</button>
                </div>
            </div>
            <br>
            <table class='table table-striped'>
                <tr>
                    <th>likes:</td>
                        <td>{{profile.likes?profile.likes.length:0}}</td>
                </tr>
                <tr>
                    <th>dislikes:</td>
                        <td>{{profile.dislikes?profile.dislikes.length:0}}</td>
                </tr>
                <tr>
                    <th>teams:</td>
                        <td>{{profile.teams?profile.teams.length:0}}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-4 col-xs-3" ng-repeat='game in profile.games track by $index'>
                    <img class='gamesIcon' ng-src="{{game.image}}" alt="{{game.name}}">
                </div>
            </div>
        </div>
        <!-- FIXME:  -->
        <div class=" col-md-6 col-xs-12">
            <canvas id="myChart" ng-load='runChart()' style="max-width:100%"></canvas>
        </div>
        <div class="col-md-3 col-xs-12 well" ng-show='profile.teams.length>0'>
            <h3 ng-show='profile.teams.length>0'>Teams</h3>
            <!-- <div class="well"> -->
            <div ng-repeat='team in profile.teams' class="">
                <h5><a ui-sref='team({id:team.team_id})'>{{team.team_name}}<span ng-show='profile.id===team.team_admin'> (admin)</span></a><h5>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <br>
    <br>


    <div class="well row">
        <div class=" col-md-12">
            <h3>Comments</h3>
            <form class="form-group">
                <div class="row" ng-hide='!user'>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" ng-model='comment' placeholder="Did you know the founder is a really great guy?">
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-block btn-primary" ng-click='createUserMessage(comment)'>Post</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default panel-primary" ng-repeat='message in profile.messages'>
                            <div class="panel-heading"><a ui-sref='profile({username:message.poster_username})' ng-click='getProfile(message.poster_username)' class="messagesName">{{message.poster_username}}</a></cite>
                            </div>
                            <div class="panel-body right">{{message.message}}</div>
                            <div class="panel-footer messageCite text-muted">{{message.readableDate}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
