<div id="prof" style="display:none">{{profile}}</div>
<div class="container">
    <div class="row well">
        <div class="col-md-3 col-xs-5">
            <img ng-hide='profile.imageUrl' class='' id='userImage' src="/default-user-image.png" alt="">
            <img ng-show='profile.imageUrl' id='userImage' style='background-image:url({{profile.imageUrl}})' alt="">
        </div>
        <div class="col-md-8 col-xs-7">
            <h1 class="">{{profile.username}}</h1>
            <p ng-show='profile.description'>{{profile.description}}</p>
            <a ui-sref="edit_profile" class="btn btn-lg btn-primary" ng-show='profile.id === user.id && !user.games'>Finish out your profile</a>
        </div>
    </div>
    <div class="row">
        <div class="well col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <table class='table table-striped'>
                <tr>
                    <th>name</th>
                    <th>stats</th>
                </tr>
                <tr>
                    <td>likes:</td>
                    <td>{{profile.likes?profile.likes.length:0}}</td>
                </tr>
                <tr>
                    <td>dislikes:</td>
                    <td>{{profile.dislikes?profile.dislikes.length:0}}</td>
                </tr>
                <tr>
                    <td>teams:</td>
                    <td>{{profile.teams?profile.teams.length:0}}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-4 col-xs-3" ng-repeat='game in profile.games track by $index'>
                    <img class='gamesIcon' ng-src="{{game.image}}" alt="{{game.name}}">
                </div>
            </div>
        </div>
        <!-- FIXME:  -->
        <div class="well col-sm-8 col-xs-12 col-sm-offset-1">
            <canvas id="myChart" ng-load='runChart()' style="max-width:100%"></canvas>
        </div>
    </div>


    <div class="well row">
        <div class=" col-md-12">
            <h3>Comments</h3>
            <form class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-block btn-primary" ng-click='createUserMessage(comment)'>Post</button>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-model='comment'>
                        <label for="comments"></label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default panel-primary" ng-repeat='message in profile.messages'>
                            <div class="panel-heading"><a ui-sref='profile({username:message.poster_username})' ng-click='getProfile(message.poster_username)' class="messagesName">{{message.poster_username}}</a></cite>
                            </div>
                            <div class="panel-body right">{{message.message}}</div>
                            <div class="panel-footer messageCite">{{message.readableDate}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
