<div id="prof" style="display:none">{{profile}}</div>
<div class="container">
    <div class="row well">
        <div class="col-md-3 col-sm-6">
             <!-- id='userImage' -->
            <img ng-hide='profile.imageUrl' class='img-responsive' src="/default-user-image.png" alt="">
            <img ng-show='profile.imageUrl' class='img-responsive'ng-src='{{profile.imageUrl}}' style='background-image:url({{profile.imageUrl}})' alt="">
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <h1 class="">{{profile.username}}</h1>
            <p ng-show='profile.description'>{{profile.description}}</p>
            <a ui-sref="edit_profile" class="btn btn-lg btn-primary" ng-show='profile.id === user.id && !user.games'>Finish out your profile</a>
        </div>
        <div class="col-md-4 col-xs-12">
            <h2 ng-hide='!profile.teams.length'>Teams</h2>
            <div ng-repeat='team in profile.teams'>
                <h4><a ui-sref='team({id:team.team_id})'>{{team.team_name}}</a><h4>
            </div>
        </div>

    </div>
    <div class="row well" ng-hide='!user'>
        <div class="col-md-4 col-xs-12"ng-show='profile.id===user.id'>
            <a class='btn btn-block btn-success' ui-sref='create_team'>Create Team</a>
        </div>
        <div class="col-md-4 col-xs-12"ng-show='profile.id!==user.id'>
            <a class='btn btn-block btn-success'>Team Invite</a>
            <!-- NOTE: Dropdown here -->
        </div>
        <div class="col-md-4 col-xs-12"ng-show='profile.id===user.id'>
            <a class='btn btn-block btn-info' ui-sref='edit_profile'>Edit Profile</a>
        </div>
        <div class="col-md-4 col-xs-12"ng-show='profile.id===user.id'>
            <a class='btn btn-block btn-primary' ui-sref='edit_profile'>Play Now</a>
        </div>
    </div>
    <div class="row">
        <div class="well col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0">
            <div class="row">
                <!-- NOTE: set these up -->
                <a class='btn btn-success btn-block col-sm-6'>like</a>
                <a class="btn btn-danger btn-block col-sm-6">dislike</a>
            </div>
            <table class='table table-striped'>
                <tr>
                    <th>name</th>
                    <th>stats</th>
                </tr>
                <tr>
                    <td>likes:</td>
                    <td>{{profile.likes?profile.likes.length:0}}</td>
                </tr>
                <tr>
                    <td>dislikes:</td>
                    <td>{{profile.dislikes?profile.dislikes.length:0}}</td>
                </tr>
                <tr>
                    <td>teams:</td>
                    <td>{{profile.teams?profile.teams.length:0}}</td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-4 col-xs-3" ng-repeat='game in profile.games track by $index'>
                    <img class='gamesIcon' ng-src="{{game.image}}" alt="{{game.name}}">
                </div>
            </div>
        </div>
        <!-- FIXME:  -->
        <div class="well col-sm-8 col-xs-12 col-sm-offset-1">
            <canvas id="myChart" ng-load='runChart()' style="max-width:100%"></canvas>
        </div>
    </div>


    <div class="well row">
        <div class=" col-md-12">
            <h3>Comments</h3>
            <form class="form-group">
                <div class="row" ng-hide='!user'>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" ng-model='comment'>
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-block btn-primary" ng-click='createUserMessage(comment)'>Post</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default panel-primary" ng-repeat='message in profile.messages'>
                            <div class="panel-heading"><a ui-sref='profile({username:message.poster_username})' ng-click='getProfile(message.poster_username)' class="messagesName">{{message.poster_username}}</a></cite>
                            </div>
                            <div class="panel-body right">{{message.message}}</div>
                            <div class="panel-footer messageCite">{{message.readableDate}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
