#userImage{
    background: #000;
    border: 2px solid lightgrey;
    height: 200px;
    width: 200px;
    background-position: center center;
    background-size: cover;
}
.messageCite{
    font-size: .8em;
}
.messagesName{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
.gamesIcon{
    width: 100%;
}
.navbarIcon{
    width: 50px;
    max-height: 50px;
    margin-top: 10%;
}
.center-text{
    text-align: center;
}
.messages{
    padding: .5em;
    background: white;
}
.messagesIcon{
    max-height: 100px;
    max-width: 100px;

}
input[type=checkbox]{
    display: none;
}
label{
    opacity: .5;
}
:checked + label{
    opacity: 1;
}
